<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- 配置连接需要的参数 -->
  <properties>
    <property key="server" value="localhost" />
    <property key="username" value="root" />
    <property key="password" value="" />
    <property key="database" value="yanzhilong" />
  </properties>

  <!-- 数据库相关设置 -->
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <!-- 配置数据库连接字符串 -->
  <database>
    <provider name="MySql" />
    
    <dataSource name="iBatisNet" connectionString="Server=${server};Database=${database};UserName=${username};Password=${password};CharSet=utf8;"/>

  </database>
  
  <!-- 配置数据库和实体类的配置文件 -->
  <sqlMaps>
    <sqlMap embedded="MapFiles.Browsing.xml, yanzhilongapi" />

  </sqlMaps>

</sqlMapConfig>